/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
target/*
.settings/*
.classpath
.project
.idea
*.iml
/target
npm-debug.log
/bin/
/deploy/

### Mac ###
.DS_Store
*.swp
settings.txt
.svn
_*
*.txt

### Logs ###
*.log

